aiofiles==24.1.0
aiolimiter==1.2.1
annotated-types==0.7.0
anyio==4.9.0
anytree==2.13.0
asttokens==2.4.1
autograd==1.8.0
azure-common==1.1.28
azure-core==1.34.0
azure-cosmos==4.9.0
azure-identity==1.22.0
azure-search-documents==11.5.2
azure-storage-blob==12.25.1
beartype==0.18.5
blis==1.2.1
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cloudpathlib==0.21.0
confection==0.1.5
contourpy==1.3.2
cryptography==44.0.3
cycler==0.12.1
cymem==2.0.11
deprecation==2.1.0
devtools==0.12.2
distro==1.9.0
environs==11.2.1
executing==2.2.0
fnllm==0.2.3
fonttools==4.57.0
future==1.0.0
gensim==4.3.3
graphrag==2.2.1
graspologic==3.4.1
graspologic-native==1.2.5
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hyppo==0.4.0
idna==3.10
isodate==0.7.2
jinja2==3.1.6
jiter==0.9.0
joblib==1.5.0
json-repair==0.30.3
kiwisolver==1.4.8
lancedb==0.17.0
langcodes==3.5.0
language-data==1.3.0
llvmlite==0.44.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
markupsafe==3.0.2
marshmallow==4.0.0
matplotlib==3.10.3
mdurl==0.1.2
msal==1.32.3
msal-extensions==1.3.1
murmurhash==1.0.12
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy==1.26.4
openai==1.78.0
overrides==7.7.0
packaging==25.0
pandas==2.2.3
patsy==1.0.1
pillow==11.2.1
pot==0.9.5
preshed==3.0.9
pyarrow==15.0.2
pycparser==2.22
pydantic==2.11.4
pydantic-core==2.33.2
pygments==2.19.1
pyjwt==2.10.1
pylance==0.20.0
pynndescent==0.5.13
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.1
scipy==1.12.0
seaborn==0.13.2
setuptools==80.4.0
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
statsmodels==0.14.4
tenacity==9.1.2
textblob==0.18.0.post0
thinc==8.3.4
threadpoolctl==3.6.0
tiktoken==0.9.0
tqdm==4.67.1
typer==0.15.3
typing-extensions==4.13.2
typing-inspection==0.4.0
tzdata==2025.2
umap-learn==0.5.7
urllib3==2.4.0
wasabi==1.1.3
weasel==0.4.1
wrapt==1.17.2
markitdown[pdf,docx,pptx,xlsx]==0.1.1
